<div class="container">
    <h3>Currency Converter</h3>
  
    <div class="form">
      <form [formGroup]="currencyForm">

     <div class="converter-container">
      <div class="from">
        <div class="form-group">
          <label for="fromCurrency">From:</label>
          <select class="form-control" id="fromCurrency" formControlName="fromCurrency">
            <option value="">Select currency</option>
            <option [value]="currency.from_currency" *ngFor="let currency of unique_from_Currencies">{{currency.from_currency}}</option>
          </select>
        </div> 
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <label for="amount">Amount:</label>
            <input type="number" class="form-control"formControlName="amount" placeholder="Enter amount" />
          </div>
          
        </div>
      </div>

     <div class="to">
      <div class="form-group">
        <label for="toCurrency">To:</label>
        <select class="form-control" id="toCurrency" formControlName="toCurrency" *ngIf="!fromCurrency">
            <option value="">Select currency</option>
            <option [value]="currency.to_currency" *ngFor="let currency of unique_to_Currencies">                       
                <span>
                    {{currency.to_currency}}
                </span>
            </option>
        </select>
        <select class="form-control" id="toCurrency" formControlName="toCurrency"  *ngIf="fromCurrency">
            <option value="">Select currency</option>
            <option [value]="currency.to_currency" *ngFor="let currency of comparedCurrency">                           
                {{currency.to_currency}}
            </option>
        </select>
      </div>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <label for="amount">Total:</label>
          <input type="number" class="form-control" formControlName="total" [(ngModel)]="convertedAmount"  placeholder="Converted amount"/>
        </div>
      </div>
     </div>
     </div>

        <!-- <button (click)="convertCurrency()">Convert</button> -->
      </form>
    </div>

    <div class="converted-amount" *ngIf="convertedAmount && ammountCount">
      <p>Converted amount: <span>{{ammountCount}} {{fromCurrency}} =</span> {{ convertedAmount }} <span>{{toCurrency}}</span></p>
    </div>

    <h3>Conversion Rate</h3>
   <div>
    <table class="table table-bordered">
        <thead>
           <tr>
            <th>from</th>
            <th>to</th>
            <th>Conversion Rate</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currency of currencies">
                <td>{{currency.from_currency}}</td>
                <td>{{currency.to_currency}}</td>
                <td>{{currency.conversion_rate}}</td>
            </tr>

        </tbody>
    </table>
   </div>
  </div>
  

