<div class="worksheet">
  <!-- Modal -->
  <label for="">Add Works:</label>
  <button type="button" class="btn btn-primary" (click)="openModalAdd(add)">
    Add
  </button>

  <ng-template #add>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Work-List</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form" [formGroup]="workListForm" (ngSubmit)="onSubmitAdd()">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="title"
            formControlName="title"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Description</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </div>
        <button>Submit</button>
      </form>
    </div>
  </ng-template>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">label</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let work of workData">
    <tr>
      <th scope="row">{{work.id}}</th>
      <td>{{work.title}}</td>
      <td>{{work.description}}</td>
      <td>
        <!-- <button (click)="goToEditForm()">Edit</button> -->
        <div class="worksheet">
          <!-- Modal -->
          <button type="button" class="btn btn-primary" (click)="openModalEdit(edit)">
            edit
          </button>
        
          <ng-template #edit>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Update WorkList</h4>
              <button
                type="button"
                class="btn-close close pull-right"
                aria-label="Close"
                (click)="modalRef?.hide()"
              >
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form" [formGroup]="workListForm" (ngSubmit)="onSubmitEdit()">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Title</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="title"
                    formControlName="title"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                    placeholder="Description"
                    formControlName="description"
                  ></textarea>
                </div>
                <button>Update</button>
              </form>
            </div>
          </ng-template>
        </div>
        <button>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
