.margin-right{
    margin-right: 20px;
}


.sort{
    cursor: pointer;
}


.sortorder:after {
    content: '\25b2';
} 
.sortorder.descending:after {
    content: '\25bc';
}

.header{
    display: flex;
    gap: 30px;
}